/*.substvars
/*.debhelper.log
/ceph-common
/ceph-fuse
/ceph-fs-common
/ceph-mds
/ceph-mgr
/ceph-mon
/ceph-osd
/ceph-resource-agents
/ceph.init
/radosgw.init
/ceph.logrotate
/*.debhelper
/ceph
/files
/libcephfs-dev
/libcephfs2
/librados-dev
/librados2
/librbd-dev
/librbd1
/radosgw
/python-ceph
/python-rados
/python-rbd
/python-cephfs
/libcephfs-java
/libcephfs-jni
/tmp
